@model IEnumerable<PizzeriaEdiMVC.Entidades.ViewModels.TipoProducto.TipoProductoCantidadListViewModel>

@{
    ViewBag.Title = "Index";
}
<div>
    <a href="@Url.Action("Create","TipoProductos")" class="btn btn-primary" style="float: right">Nuevo</a>
    <h2>Lista de Tipos de Productos</h2>

</div>
<hr />
@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> @msg
    </div>

}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.CantidadProductos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadProductos)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TipoProductoId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Details", "Details", new { id = item.TipoProductoId }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TipoProductoId }, new { @class = "btn btn-danger" })
    </td>
</tr>
    }

</table>
