@model PizzeriaEdiMVC.Entidades.ViewModels.Carrito.CarritoListViewModel
@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

<table class="table">
    <thead>
    <tr>
        <th>Cantidad</th>
        <th>Producto </th>
        <th class="text-right">Precio</th>
        <th class="text-right">SubTotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Cantidad</td>
            <td>@item.ProductoListViewModel.Descripcion</td>
            <td class="text-right">@item.ProductoListViewModel.Precio</td>
            <td class="text-right">@(item.ProductoListViewModel.Precio*item.Cantidad)</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right"> <strong>Total:</strong></td>
        <td class="text-right"><strong>@Model.Items.Sum(i => i.Cantidad * i.ProductoListViewModel.Precio)</strong> </td>
    </tr>
    </tfoot>
</table>
<div class="text-center">
    @Html.ActionLink("Cancelar","CancelarPedido","",new{@class="btn btn-success"})
    @Html.ActionLink("Confirmar", "ConfirmarPedido", null,

        new { @class = "btn btn-primary" })

</div>

